body {
    background-color: #DFF0D8;
    font-family: "Microsoft YaHei";
}

header {
    text-align: center;
    padding-top: 6px;
}

.form-title {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 10%;
}

.form-title > #title {
    font-size: 30px;
    border-left: 3px solid #5cb85c;
    text-align: left;
}

.form-divider {
    width: 64%;
    margin-left: 18%;
    padding-top: 30px;
    border-bottom: 2px solid #c1e2b3;
}

.jumbotron {
    margin: 20px 20% 8px 20%;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
}

#login-form,
#register-form {
    margin-bottom: 20px;
}

.form-group {
    padding-top: 20px;
    padding-bottom: 24px;
}

.form-group > label {
    text-align: right;
    font-size: 18px;
    line-height: 40px;
}

.form-group > div > input {
    height: 40px;
}

.form-group > label > span {
    color: #c9302c;
}

#login-btn,
#register-btn {
    width: 100%;
    font-size: 20px;
}

.form-footer {
    text-align: center;
}

.form-footer > p {
    margin-bottom: 1px;
}

.form-footer > a {
    font-size: 22px;
}

/*.dropdown-menu {*/
    /*line-height: 45px;*/
    /*min-width: 120px;*/
    /*margin-top: -18px;*/
/*}*/

/*.dropdown-menu > li {*/
    /*padding-left: 12px;*/
/*}*/

/*.dropdown-menu > .divider {*/
    /*border-bottom: 1px solid #c1e2b3;*/
/*}*/

