#canvas2d, #canvas {
    width: 640px;
    height: 640px;
    /*margin-left: 1%;*/
    /*border: 1px solid gray;*/
}
#canvas3d {
    width: 1080px;
    height: 640px;
    /*margin-left: 1%;*/
    /*border:1px solid gray;*/
    display: none;
}